streamlit
pandas
openpyxl

# --- PDF & OCR ---
pdfplumber
PyPDF2
pytesseract
Pillow

# --- Google API ---
gspread
oauth2client
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
